<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.core.mapper.ForegroundMapper">
   <select id="queryBySubbranchId" resultType="userCheckInInfo">
      select o.id,u.name,u.username,r.room_no,t.room_type,o.status
      from user as u inner join room as r inner join room_type as t inner join `order` as o
      where o.user_id=u.id and o.room_id=r.id and r.room_type_id=t.id
      and t.hotel_id=#{0} order by o.id limit #{1},#{2}
   </select>

    <select id="queryCountBySubbranch" parameterType="int" resultType="int">
         select COUNT(*)
      from user as u inner join room as r inner join room_type as t inner join `order` as o
      where o.user_id=u.id and o.room_id=r.id and r.room_type_id=t.id
      and t.hotel_id=#{0}

    </select>

    <select id="searchByName" resultType="userCheckInInfo">
        select o.id,u.name,u.username,r.room_no,t.room_type,r.status
      from user as u inner join room as r inner join room_type as t inner join `order` as o
      where o.user_id=u.id and o.room_id=r.id and r.room_type_id=t.id
      and t.hotel_id=#{0} and u.name like "%"#{3}"%" order by o.id limit #{1},#{2}
    </select>

    <select id="searchCount" resultType="int">
          select count(*)
      from user as u inner join room as r inner join room_type as t inner join `order` as o
      where o.user_id=u.id and o.room_id=r.id and r.room_type_id=t.id
      and t.hotel_id=#{0} and u.name like "%"#{1}"%"
    </select>

</mapper>