<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.core.mapper.OrderMapper">

    <select id="getUserOrder" parameterType="Integer" resultType="OrderInfo">
        select o.id ,r.room_no, r.status, t.room_type ,o.order_time,o.time,o.check_in_time,o.check_out_time from room as r inner join room_type as t inner join `order` as o inner join `user` as u
        where r.room_type_id=t.id and o.room_id=r.id  and o.user_id = u.id and u.id = #{0}
    </select>


    <select id="getAllOrder"  resultType="OrderInfo">
       select o.id ,r.room_no, r.status, t.room_type ,o.order_time,o.time,o.check_in_time,o.check_out_time from room as r inner join room_type as t inner join `order` as o
        where r.room_type_id=t.id and o.room_id=r.id
    </select>

    <select id="qurryAllOrderCount" resultType="int">
        select count(*) from `order`
    </select>


    <select id="qurryUserOrderCount" parameterType="int" resultType="int">
        select count(*) from `order` as o inner join user as u where
        o.user_id=u.id and u.id=#{0}
    </select>

    <insert id="addUserOrder" parameterType="int">
        insert * from `order` where user_id = #{0}
    </insert>

    <delete id="deleteOrder" parameterType="Integer">
       delete from `order` where user_id = #{0}
    </delete>

    <select id="queryOrderByOrderId" resultType="order">
        select * from `order` where id=#{0}
    </select>

    <update id="updateOrderInfoByOrderId">
        update `order` set status=#{1} where id=#{0}
    </update>

    <select id="queryOrderPrice" resultType="string" parameterType="int">
        select t.price from `order` as o inner join room  as r inner join room_type as t
        where o.room_id=r.id and r.room_type_id=t.id and o.id=#{0}
    </select>
    <delete id="delOrderByOrderId" parameterType="int">
        delete from `order` where id=#{0}
    </delete>

    <update id="updateCheckInTime" parameterType="int">
       update `order` set check_in_time =now() where id=#{0}
    </update>

    <update id="updateCheckOutTime" parameterType="int">
         update `order` set check_out_time =now() where id=#{0}
    </update>

    <select id="queryCountByRoomIdAndTime" resultType="int">
         select COUNT(*) from `order`
         where room_id=#{0} and time=STR_TO_DATE(#{1},'%Y-%m-%d') and status!='已退房'
    </select>

    <insert id="insertOrder" parameterType="order">
        insert into `order` (user_id, status, order_time, `time`, room_id)
        values (#{userId},'待入住',now(),date_format(#{time},'%Y-%m-%d'),#{roomId})
    </insert>


</mapper>