<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.core.mapper.PermissionMapper">


    <select id="queryByRoleId" resultType="permission">
        select * from  permission where role_id=#{0}
    </select>

    <insert id="addPermission">
        insert  into permission (potence, role_id) values (#{1},#{0})
    </insert>
    <delete id="delPermission">
        delete from permission where role_id=#{0} and potence =#{1}
    </delete>


</mapper>