<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.core.mapper.RoomTypeMapper">
   <select id="queryRoomTypeList" resultType="roomTypeInfo">
     select r.id,r.price, r.desc_url, r.desc, r.capacity, r.num, r.isrecommend, r.room_type
,h.subbranch
from room_type as r inner join hotel as h where r.hotel_id=h.id ORDER BY  r.id  limit #{0},#{1}
   </select>

    <select id="queryRoomTypeCount" resultType="int">
        select count(*) from room_type
    </select>

    <update id="updateRoomTypeInfo" >
        update room_type set capacity=#{homeTypeInfo.capacity} ,price= #{homeTypeInfo.price} , `desc`=#{homeTypeInfo.desc} where id=#{homeTypeInfo.id}
    </update>

    <update id="updateRecommend">
        update room_type set isrecommend = #{1} where id=#{0}
    </update>

    <insert id="insertRoomType" parameterType="roomType">
        insert into room_type (room_type, price, num, hotel_id, `desc`, desc_url, isrecommend, capacity)
        values (#{roomType},#{price},0,#{hotelId},#{desc},#{descUrl},0,#{capacity})
    </insert>

    <select id="queryByHotelId" resultType="roomType">
        select * from room_type where hotel_id=#{0}
    </select>

    <select id="queryByRecommendStatus" resultType="tipInfo">
        select t.* ,h.hotel_name from room_type as t inner join hotel as h
        where t.hotel_id=h.id  and  t.isrecommend=1 and t.num &gt; 0
    </select>

    <select id="queryAllHote" resultType="tipInfo">
        select t.* ,h.hotel_name from room_type as t inner join hotel as h
        where t.hotel_id=h.id  and t.num &gt; 0 order by t.id limit #{0},#{1}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from  room_type where num &gt; 0
    </select>

</mapper>