<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.core.mapper.ShiroMapper">
    <select id="getUserByUserName" resultType="user">
        select * FROM user
        WHERE username= #{0}
    </select>

    <select id="getUserRoleByUserId" resultType="int">
        SELECT * FROM role
        where user_id = #{0}
    </select>

    <select id="getPermissionsByRoleId" resultType="permission">
        SELECT *  FROM permission
        WHERE role_id=#{0}
    </select>

</mapper>